/* line 1, style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 27, style.scss */
ol, ul {
  list-style: none; }

/* line 30, style.scss */
blockquote, q {
  quotes: none; }

/* line 33, style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 38, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 42, style.scss */
body {
  background: #F5F5F5; }

/* line 46, style.scss */
a {
  text-decoration: none; }

/* line 49, style.scss */
.wrap {
  width: 100%; }
  /* line 51, style.scss */
  .wrap .head {
    width: 100%;
    height: 44px;
    background: #FA6702;
    position: relative;
    margin-bottom: 27px; }
    /* line 57, style.scss */
    .wrap .head .left_poin {
      padding: 10px 0px 9px 5px;
      display: inline-block; }
    /* line 61, style.scss */
    .wrap .head .tip {
      position: absolute;
      left: 0;
      right: 0;
      color: #fff;
      line-height: 44px;
      text-align: center;
      display: inline-block; }
  /* line 72, style.scss */
  .wrap .main {
    padding: 20px; }
    /* line 74, style.scss */
    .wrap .main .nav-content {
      display: flex;
      margin-bottom: 34px; }
      /* line 77, style.scss */
      .wrap .main .nav-content .line {
        overflow: hidden;
        width: 100%; }
        /* line 80, style.scss */
        .wrap .main .nav-content .line span {
          width: 50%;
          float: left;
          height: 4px;
          display: block;
          background: #C7C7C7; }
        /* line 87, style.scss */
        .wrap .main .nav-content .line .bg {
          background: #FB7E28; }
      /* line 92, style.scss */
      .wrap .main .nav-content a {
        flex: 1; }
        /* line 94, style.scss */
        .wrap .main .nav-content a dl {
          text-align: center; }
          /* line 96, style.scss */
          .wrap .main .nav-content a dl dt {
            padding-bottom: 10px; }
          /* line 99, style.scss */
          .wrap .main .nav-content a dl dd {
            color: #000;
            font-size: 12px; }
    /* line 107, style.scss */
    .wrap .main .form_content #myform {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 15px;
      background: #fff; }
      /* line 113, style.scss */
      .wrap .main .form_content #myform p {
        height: 41px;
        width: 100%;
        line-height: 41px;
        display: -webkit-box;
        padding: 0 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #CAC8C4;
        overflow: hidden; }
        /* line 122, style.scss */
        .wrap .main .form_content #myform p:last-child {
          border: 0; }
        /* line 125, style.scss */
        .wrap .main .form_content #myform p label {
          display: block;
          font-size: 14px; }
          /* line 128, style.scss */
          .wrap .main .form_content #myform p label:before {
            content: "";
            width: 10px;
            height: 10px;
            display: inline-block;
            background: url(../img/a92.png) no-repeat 100%;
            margin-right: 5px; }
        /* line 137, style.scss */
        .wrap .main .form_content #myform p input {
          display: block;
          -webkit-box-flex: 1;
          border: none;
          outline: none;
          height: 100%;
          text-align: right; }
    /* line 148, style.scss */
    .wrap .main .submit {
      background: #FA6702;
      width: 100%;
      height: 38px;
      border: 1px solid #B3591B;
      border-radius: 5px;
      font-size: 14px;
      color: #fff;
      margin: 0 auto; }
    /* line 158, style.scss */
    .wrap .main .footer {
      font-size: 12px; }
      /* line 160, style.scss */
      .wrap .main .footer a {
        color: #00f;
        float: right; }
      /* line 164, style.scss */
      .wrap .main .footer output {
        color: #f00; }
      /* line 167, style.scss */
      .wrap .main .footer .left {
        float: left; }
      /* line 170, style.scss */
      .wrap .main .footer .right {
        float: right; }
      /* line 173, style.scss */
      .wrap .main .footer p {
        line-height: 25px; }
      /* line 176, style.scss */
      .wrap .main .footer .info {
        height: 61px;
        width: 100%;
        background: #E2E2E2;
        line-height: 61px;
        text-align: center;
        margin-top: 25px; }

/*# sourceMappingURL=style.css.map */
